@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 2%;
    /* Adjust the padding as needed */
    box-sizing: border-box;
    /* Include padding in the total width/height */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.base-main {
    padding: 10px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #949494,
        -20px -20px 60px #ffffff;
    height: 100%;
    width: 100%;
}

.main-heading {
    font-size: 3.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: 100px;
}

.main-para {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #838383;
    margin-bottom: 60px;
}

input[type="file"] {
    display: none;
}

.label-select-button {
    background-color: #3498db;
    color: #fff;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 1vw;
    margin-right: 5%;
    transition: background-color 0.3s;
}

.label-select-button:hover {
    background-color: #2e84bd;
}

.convert-button {
    background-color: #27ae60;
    color: #fff;
    padding: 20px 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    transition: background-color 0.3s;
}

.convert-button:hover {
    background-color: #219d47;
}


footer {
    margin-top: 100px;
    padding: 10px;
    text-align: center;
}

.disclaimer {
    color: #888;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2vw;
    margin: auto;
    width: 72vw;
    padding-top: 15vh;
}

.disclaimer p {
    line-height: 2;
}

@media screen and (min-width: 900px) and (max-width: 1350px) {
    .main-heading {
        font-size: 4.5vw;
    }

    .main-para {
        font-size: 2.4vw;
    }

    .label-select-button,
    .convert-button {
        font-size: 1.6vw;
    }

    .disclaimer {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .main-heading {
        font-size: 7vw;
    }

    .main-para {
        font-size: 3.5vw;
    }

    .label-select-button,
    .convert-button {
        font-size: 2.5vw;
    }

    .disclaimer {
        font-size: 3vw;
    }
}

@media screen and (min-width: 350px) and (max-width: 500px) {
    .content {
        padding: 6%;
    }

    .main-heading {
        font-size: 8.5vw;
    }

    .main-para {
        font-size: 4.3vw;
    }

    .label-select-button,
    .convert-button {
        font-size: 3.5vw;
        display: inline-block;
        margin-right: 0;
    }

    footer {
        margin-top: 50px;
    }

    .disclaimer {
        font-size: 3.8vw;
    }
}

@media screen and (max-width: 375px) {
    .content {
        padding: 6%;
    }

    .main-heading {
        font-size: 8.5vw;
    }

    .main-para {
        font-size: 4.3vw;
    }

    .label-select-button,
    .convert-button {
        font-size: 3.5vw;
        display: inline-block;
        margin-right: 0;
    }

    footer {
        margin-top: 50px;
    }

    .disclaimer {
        font-size: 3.8vw;
    }
}